<%- include('partials/header') %>

<div style="display: flex; flex-direction: row;">
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Web development</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">App <br/>development</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Artificial Intelligence</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Machine <br/>Learning</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Block Chain Technolody</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
