<%- include('partials/header') %>

<div style="display: flex; flex-direction: row;">
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">L&T <br/>Technology</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">IBM <br/>software solution</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Soliton software solutions</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">Bosch electrical instruments</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;height: 20rem;padding-top: 6rem;">
    <div class="card-body">
      <h4 class="card-title">infosys <br/> Technology</h4>
      <a href="#" class="btn btn-primary" style="margin-top: 5rem;"> Apply</a>
      <a href="#" class="btn btn-light" style="margin-top: 5rem;"> learn more..</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
